[user]
	email = ugzuzg@gmail.com
	name = Jarasłaŭ Viktorčyk
	signingkey = 9573FA65192DD365
[commit]
	gpgsign = true
[pull]
	rebase = true
[gpg]
	program = gpg
[includeIf "gitdir:~/volvo/"]
	path = ~/volvo/.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
